# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Build / Cache
# -------------------------
*.egg-info/
dist/
build/
